@model SecureAssetManager.Models.Risk

@{
    ViewData["Title"] = "Crear Evaluación de Riesgo";
}

<h2>@ViewData["Title"]</h2>

<h4>Riesgo</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <select asp-for="Code" class="form-control" asp-items="@(new SelectList(ViewBag.AssetCodes))">
                    <option value="">-- Selecciona un código --</option>
                </select>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ExistingControl" class="control-label"></label>
                <select asp-for="ExistingControl" class="form-control">
                    <option value="">-- Selecciona un tipo de control --</option>
                    <option value="Control de Acceso">Control de Acceso</option>
                    <option value="Control de Seguridad Física">Control de Seguridad Física</option>
                    <option value="Control de Seguridad de Red">Control de Seguridad de Red</option>
                    <option value="Controles de Seguridad de Aplicaciones">Controles de Seguridad de Aplicaciones</option>
                    <option value="Controles de Seguridad de Datos">Controles de Seguridad de Datos</option>
                </select>
                <span asp-validation-for="ExistingControl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
