@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bienvenido a Cheese</h1>
    <p>App de registro de activos</p>

   
    <img src="~/images/logos/cheeseLogoxl.jpg" alt="Cheese" width="300" height="300" />

    <p> Esta aplicación está diseñada para registrar activos </p>

    <img src="~/images/logos/amigosHome.jpg" alt="Cheese" width="250" height="250" />
    
    <h2> Creadores </h2>
    
    <p> Esta aplicación fue creada por: </p>

    <img src="~/images/creadores/creadores.jpg" alt="Cheese" width="200" height="200" />

    <p> Alberto Valverde </p>
    <p> Thyara Vintimilla </p>
    <p> Estefanía Vinueza </p>
</div>

   

