@{
    ViewData["Title"] = "Política de Privacidad";
}

<h2>Política de Privacidad</h2>
<p>En nuestro sitio web, la identificación de activos es un proceso fundamental en la gestión de la seguridad de la información. Es importante para nosotros que nuestros usuarios comprendan cómo se recopilan, utilizan y protegen sus datos personales.</p>
<p>La identificación de activos nos permite conocer qué activos de información posee nuestra empresa, dónde se encuentran, quién tiene acceso a ellos y cuál es su valor para la organización. Con esta información, podemos tomar medidas para proteger nuestros activos de información de posibles amenazas y priorizar la asignación de recursos para su protección.</p>
<p>En nuestro sitio web, recopilamos información sobre los activos de información de nuestros usuarios, incluyendo su nombre, ubicación, dirección de correo electrónico y cualquier otra información necesaria para llevar a cabo la identificación de activos.</p>
<p>No compartimos su información con terceros a menos que sea necesario para llevar a cabo la identificación de activos y proteger nuestros activos de información. Además, tomamos medidas de seguridad razonables para proteger su información de pérdida, mal uso y acceso no autorizado.</p>
<p>Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en contactarnos.</p>
<p>Gracias por utilizar nuestro sitio web.</p>