@model SecureAssetManager.Models.Control

@{
    ViewData["Title"] = "Editar Control";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Editar Control</h4>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />

        <div class="form-group">
            <label asp-for="TipoControl" class="control-label"></label>
            <input asp-for="TipoControl" class="form-control" />
            <span asp-validation-for="TipoControl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Efectividad" class="control-label"></label>
            <input asp-for="Efectividad" class="form-control" />
            <span asp-validation-for="Efectividad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BrechaSeguridadIdentificada" class="control-label"></label>
            <input asp-for="BrechaSeguridadIdentificada" class="form-control" />
            <span asp-validation-for="BrechaSeguridadIdentificada" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Implementacion" class="control-label"></label>
            <input asp-for="Implementacion" class="form-control" />
            <span asp-validation-for="Implementacion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Monitoreo" class="control-label"></label>
            <input asp-for="Monitoreo" class="form-control" />
            <span asp-validation-for="Monitoreo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
