@model SecureAssetManager.Models.Threat

@{
    ViewData["Title"] = "Crear Amenaza";
}

<h1>Crear Amenaza</h1>

<h4>Amenaza</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThreatOrigin" class="control-label"></label>
                <select asp-for="ThreatOrigin" class="form-control">
                    <option value="">-- Selecciona una opción --</option>
                    <option value="Natural">Natural</option>
                    <option value="Industrial">Industrial</option>
                    <option value="Errores y fallos no intencionados">Errores y fallos no intencionados</option>
                </select>
                <span asp-validation-for="ThreatOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreatDescription" class="control-label"></label>
                <input asp-for="ThreatDescription" class="form-control" />
                <span asp-validation-for="ThreatDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degradation" class="control-label"></label>
                <select asp-for="Degradation" class="form-control">
                    <option value="">-- Selecciona una opción --</option>
                    <option value="3">Totalmente degradado</option>
                    <option value="2">Degradación leve</option>
                    <option value="1">Degradado en una pequeña fracción</option>
                </select>
                <span asp-validation-for="Degradation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Probability" class="control-label"></label>
                <input asp-for="Probability" class="form-control" />
                <span asp-validation-for="Probability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
